<p id="notice"><%= notice %></p>

<p>
  <b>Picked date:</b>
  <%= @inventory.picked_date %>
</p>

<p>
  <b>On hand:</b>
  <%= @inventory.on_hand %>
</p>

<p>
  <b>Product:</b>
  <%= @inventory.product_id %>
</p>


<%= link_to 'Edit', edit_inventory_path(@inventory) %> |
<%= link_to 'Back', inventories_path %>
