<%= form_for(@organization_role) do |f| %>
  <% if @organization_role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@organization_role.errors.count, "error") %> prohibited this organization_role from being saved:</h2>

      <ul>
      <% @organization_role.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
