<div class="mws-panel grid_5 center-panel">
  <div class="mws-panel-header">
    <span class="mws-i-24 i-leaf">
      <%= @user.new_record? ? "Add user" : "Edit " + @user.name %>
    </span>
  </div>

  <div class="mws-panel-body">
    <%= form_for(@user, html: {class: "mws-form"}) do |f| %>
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="mws-form-inline">
        <div class="mws-form-row">
          <%= f.label "First name" %>
          <div class="mws-form-item small">
            <%= f.text_field :fname, class: "mws-textinput" %>
          </div>
        </div>
        <div class="mws-form-row">
          <%= f.label "Last name" %>
          <div class="mws-form-item small">
            <%= f.text_field :lname, class: "mws-textinput" %>
          </div>
        </div>
        <div class="mws-form-row">
          <%= f.label "Email" %>
          <div class="mws-form-item small">
            <%= f.text_field :email, class: "mws-textinput" %>
          </div>
        </div>

        <% if current_user.is_admin? %>
          <div class="mws-form-row">
            <%= f.label "Role" %>
            <div class="mws-form-item small">
              <%= f.select :role_id, options_for_role_select %>
            </div>
          </div>
          <div class="mws-form-row">
            <%= f.label "Organization" %>
            <%= f.select :organization_id, options_for_organization_select %>
          </div>
        <% end %>

        <div class="actions">
          <% button_message = @user.new_record? ? "Add user" : "Save changes" %>
          <%= f.submit button_message, class: "mws-button red" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
