<div class="mws-panel grid_5">
  <div class="mws-panel-header main_header">
    <span class="mws-i-24 i-user">
      <%= @user.name %>
    </span>
  </div>

  <div class="mws-panel-body">
    <div class="about">
      <div class="item">
        <span class="data">
          <%= link_to @user.organization.name, @user.organization %> 
          (<%= @user.supply_role %>)
        </span>
      </div>

      <hr>

      <div class="item">
        <% if @user.is_producer? %>
          <% count = @user.donations.count %>
          <% type = "donations" %>
        <% elsif @user.is_distributor? %>
          <% count = @user.orders.count %>
          <% type = "orders" %>
        <% end %>

        <span class="data">
          <%= count %>
        </span>
        <span class="label">
          <%= type %>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="mws-panel grid_3 options">
  <div class="mws-panel-header">
    <span>Options</span>
  </div>

  <div class="mws-panel-body">
    <center>
      <a href="mailto:<%= @user.email %>" class="mws-button gray">contact</a>
      <% if can? :edit, @user %>
        <%= link_to 'edit', edit_user_path(@user), class: "mws-button green" %>
      <% end %>

      <% if can? :destroy, @user %>
        <%= link_to 'delete', @user, method: :Delete, class: "mws-button red" %>
      <% end %>
    </center>
  </div>
</div>
