<p id="notice"><%= notice %></p>

<p>
  <b>Fname:</b>
  <%= @user.fname %>
</p>

<p>
  <b>Lname:</b>
  <%= @user.lname %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @user.phone %>
</p>

<p>
  <b>Active:</b>
  <%= @user.active %>
</p>

<p>
  <b>Role:</b>
  <%= @user.role_id %>
</p>

<p>
  <b>Organization:</b>
  <%= @user.organization_id %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
