<div class="mws-panel grid_5 center-panel">
  <div class="mws-panel-header">
    <span class="mws-i-24 i-shopping-cart">
      <%= @order.new_record? ? "Order" : "Edit order ##{@order.id}"%>
    </span>
  </div>

  <div class="mws-panel-body">
    <%= form_for(@order, html: {class: "mws-form"}) do |f| %>
      <% if @order.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

          <ul>
          <% @order.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="mws-form-inline">
        <%= f.fields_for :order_lines do |lf| %>
          <div class="order_line visible">
            <%= render partial: "order_line", locals: {lf: lf} %>
          </div>

          <% 9.times do %>
            <div class="order_line hidden" style="display: none;">
              <%= render partial: "order_line", locals: {lf: lf} %>
            </div>
          <% end %>
        <% end %>

        <div class="mws-button-row">
          <% button_message = @order.new_record? ? "Add order" : "Save changes" %>
          <%= f.submit button_message, class: "mws-button red" %>
        </div>
      </div>
    <% end %>
  </div>
</div>