<div class="mws-panel grid_8">
  <div class="mws-panel-header main_header">
    <span class="mws-i-24 i-shopping-cart-4">Orders</span>
  </div>
  <div class="mws-panel-body">
    <table class="mws-datatable-fn mws-table">
        <thead>
            <tr>
                <th>Date Added</th>
                <th>Order #</th>
                <th>Organization</th>
                <th>User</th>
                <th>Amount</th>
                <th>Product</th>
                <th>Filled</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
            <tr class="gradeX">
                <td><%= order.request_date %></td>
                <td><%= order.id %></td>
                <td><%= order.user.organization.name %></td>
                <td><%= order.user.name %></td>
                <td>40</td>
                <td>Carrots</td>
                <td><%= order.filled_date.present? ? order.filled_date : "unfilled" %></td>
                <%= render partial: "layouts/action_button", locals: {object: order} %>
            </tr>
          <% end %>
        </tbody>
    </table>
  </div>
</div>

<% if can? :create, Order %>
  <div class="mws-panel grid_3 options">
    <div class="mws-panel-header">
      <span>Options</span>
    </div>

    <div class="mws-panel-body">
      <center>
        <%= link_to 'add order', new_order_path, class: "mws-button green" %>
      </center>
    </div>
  </div>
<% end %>

