<div class="mws-panel grid_8">
  <div class="mws-panel-header main_header">
    <span class="mws-i-24 i-plus">Donations</span>
  </div>
  <div class="mws-panel-body">
    <table class="mws-datatable-fn mws-table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Organization</th>
                <th>User</th>
                <th>Items</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
          <% @donations.each do |donation| %>
            <tr class="gradeX">
                <td><%= donation.created_at %></td>
                <td><%= donation.user.organization.name %></td>
                <td><%= donation.user.name %></td>
                <td>
                  <ul id="items">
                    <% donation.donation_lines.each do |line| %>
                      <li>
                        <%= line.quantity %> <%= line.product.unit.name %> <%= line.product.name.downcase %>
                      </li>
                    <% end %>
                  </ul>
                </td>
                <%= render partial: "layouts/action_button", locals: {object: donation} %>
            </tr>
          <% end %>
        </tbody>
    </table>
  </div>
</div>

<% if can? :create, Donation %>
  <div class="mws-panel grid_3 options">
    <div class="mws-panel-header">
      <span>Options</span>
    </div>

    <div class="mws-panel-body">
      <center>
        <%= link_to 'add donation', new_donation_path, class: "mws-button green" %>
      </center>
    </div>
  </div>
<% end %>