<div class="mws-panel grid_5">
	<div class="mws-panel-header main_header">
		<span class="mws-i-24 i-plus">
			Donation #<%= @donation.id %>
		</span>
	</div>

	<div class="mws-panel-body">
		<div class="about">
			<div class="item">
				<span class="label">
			  	donated on
		  	</span>
		  	<span class="data">
		  		<%= formatted_date(@donation.created_at) %>
	  		</span>
  		</div>

  		<hr>

			<div class="item">
				<span class="label">
					by
				</span>
				<span class="data">
					<%= @donation.organization.name %>
				</span>
			</div>
		</div>
	</div>
</div>

<div class="mws-panel grid_3 options">
	<div class="mws-panel-header">
		<span>Options</span>
	</div>

	<div class="mws-panel-body">
		<center>
			<% if can? :edit, @donation %>
				<%= link_to 'edit', edit_donation_path(@donation), class: "mws-button green" %>
			<% end %>

			<% if can? :destroy, @donation %>
				<%= link_to 'delete', @donation, method: :Delete, class: "mws-button red" %>
			<% end %>
		</center>
	</div>
</div>

<div class="mws-panel grid_8 table">
	<div class="mws-panel-header">
		<span>Items donated</span>
	</div>

	<div class="mws-panel-body">
    <table class="mws-datatable-fn mws-table">
      <thead>
        <tr>
          <th>Product</th>
          <th>Amount</th>
          <th>Date picked</th>
          <th>Date expires</th>
          <th>Order status</th>
        </tr>
      </thead>
        <tbody>
          <% @donation.products.each do |product| %>
          	<% product_line = @donation.product_line(product) %>
            <tr class="gradeX">
              <td><%= product.name %></td>
              <td>
              	<%= @donation.total_product_quantity(product) %> <%= product.unit.name %>
              </td>
              <td><%= formatted_date(product_line.picked_date) %></td>
              <td><%= formatted_date(product_line.expires_at) %></td>
              <td>
              	<%= product_line.ordered? ? "Ordered" : "Available" %>
            	</td>
            </tr>
          <% end %>
        </tbody>
    </table>
  </div>
</div>
