<div class="mws-panel grid_8">
  <div class="mws-panel-header main_header">
    <span class="mws-i-24 i-table-1">orders</span>
  </div>
  <div class="mws-panel-body">
    <table class="mws-datatable-fn mws-table">
        <thead>
            <tr>
                <th>Date Added</th>
                <th>Order #</th>
                <th>Organization</th>
                <th>User</th>
                <th>Amount</th>
                <th>Product</th>
                <th>Filled</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
            <tr class="gradeX">
                <td><%= order.request_date %></td>
                <td><%= order.id %></td>
                <td><%= order.user.organization.name %></td>
                <td><%= order.user.name %></td>
                <td>40</td>
                <td>Carrots</td>
                <td><%= order.filled_date.present? ? order.filled_date : "unfilled" %></td>
                <td><%= link_to 'Show', order %>
                    <%= link_to 'Edit', edit_order_path(order) %>
                    <%= link_to 'Destroy', order, confirm: 'Are you sure?', method: :delete %></td>
            </tr>
          <% end %>
        </tbody>
    </table>
  </div>
</div>

<%= link_to 'New order', new_order_path %>

<h1>Listing order_lines</h1>

<table>
  <tr>
    <th>Order</th>
    <th>Inventory</th>
    <th>Quantity filled</th>
    <th>Quantity requested</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @order_lines.each do |order_line| %>
  <tr>
    <td><%= order_line.order_id %></td>
    <td><%= order_line.inventory_id %></td>
    <td><%= order_line.quantity_filled %></td>
    <td><%= order_line.quantity_requested %></td>
    <td><%= link_to 'Show', order_line %></td>
    <td><%= link_to 'Edit', edit_order_line_path(order_line) %></td>
    <td><%= link_to 'Destroy', order_line, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Order line', new_order_line_path %>
