<div class="mws-panel grid_5 center-panel">
  <div class="mws-panel-header">
    <span class="mws-i-24 i-companies">
      <%= @organization.new_record? ? "Register organization" : "Edit #{@organization.name}" %>
    </span>
  </div>

  <div class="mws-panel-body">
    <%= form_for(@organization, html: {class: "mws-form"}) do |f| %>
      <% if @organization.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@organization.errors.count, "error") %> prohibited this organization from being saved:</h2>

          <ul>
          <% @organization.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="mws-form-inline">
        <div class="mws-form-row">
          <%= f.label :name %>
          <div class="mws-form-item medium">
            <%= f.text_field :name, class: "mws-textinput" %>
          </div>
        </div>
        <div class="mws-form-row">
          <%= f.label :city %>
          <div class="mws-form-item small">
            <%= f.text_field :city, class: "mws-textinput" %>
          </div>
        </div>
        <div class="mws-form-row">
          <%= f.label :state %>
          <div class="mws-form-item state">
            <%= f.text_field :state, class: "mws-textinput", maxlength: 2 %>
          </div>
        </div>
        <div class="mws-form-row">
          <%= f.label :street %>
          <div class="mws-form-item small">
            <%= f.text_field :street, class: 'mws-textinput' %>
          </div>
        </div>
        <div class="mws-form-row">
          <%= f.label :zip %>
          <div class="mws-form-item small">
            <%= f.text_field :zip, class: "mws-textinput" %>
          </div>
        </div>
        <div class="mws-form-row">
          <%= f.label "Contact Email" %>
          <div class="mws-form-item medium">
            <%= f.text_field :email, class: "mws-textinput" %>
          </div>
        </div>
        <div class="mws-form-row">
          <%= f.label "Contact Phone" %>
          <div class="mws-form-item medium">
            <%= f.text_field :phone, class: "mws-textinput" %>
          </div>
        </div>
        <div class="mws-button-row">
          <% button_message = @organization.new_record? ? "Add organization" : "Save changes" %>
          <%= f.submit button_message, class: "mws-button red" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
