<div class="mws-panel grid_8">
  <div class="mws-panel-header main_header">
    <span class="mws-i-24 i-companies">Organizations</span>
  </div>
  <div class="mws-panel-body">
    <table class="mws-datatable-fn mws-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>State</th>
                <th>City</th>
                <th>Street</th>
                <th>Zip</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
          <% @organizations.each do |organization| %>
            <tr class="gradeX">
                <td><%= organization.name %></td>
                <td><%= organization.state %></td>
                <td><%= organization.city %></td>
                <td><%= organization.street %></td>
                <td><%= organization.zip %></td>
                <td><%= organization.phone %></td>
                <td><%= organization.email %></td>                
                <td>
                    <% if can? :view, organization %>
                      <%= link_to 'Show', organization %>
                    <% end %>

                    <% if can? :update, organization %>
                      <%= link_to 'Edit', edit_organization_path(organization) %>
                    <% end %>

                    <% if can? :destroy, organization %>
                      <%= link_to 'Destroy', organization, confirm: 'Are you sure?', method: :delete %>
                    <% end %>
                </td>
            </tr>
          <% end %>
        </tbody>
    </table>
  </div>
</div>

<%= link_to 'Add organization', new_organization_path %>