<div class="mws-panel grid_5 center-panel">
  <div class="mws-panel-header">
    <span class="mws-i-24 i-leaf">
      <%= @product.new_record? ? "Add product" : "Edit " + @product.name %>
    </span>
  </div>

  <div class="mws-panel-body">
    <%= form_for(@product, html: {class: "mws-form"}) do |f| %>
      <% if @product.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

          <ul>
          <% @product.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="mws-form-inline">
        <div class="mws-form-row">
          <%= f.label :name %>
          <div class="mws-form-item small">
            <%= f.text_field :name, class: "mws-textinput" %>
          </div>
        </div>
        <div class="mws-form-row">
          <%= f.label "Shelf life" %>
          <div class="mws-form-item small">
            <%= f.text_field :shelf_life_time, class: "mws-textinput", placeholder: "#" %>
            <%= f.select :shelf_life_span, options_for_shelf_life_select %>
          </div>
        </div>
        <div class="mws-form-row">
          <%= f.label "Category" %>
          <div class="mws-form-item small">
            <%= f.select :product_category_id, options_for_product_category_select %>
          </div>
        </div>
        <div class="mws-form-row">
          <%= f.label :unit_id %>
          <div class="mws-form-item small">
            <%= f.select :unit_id, options_for_unit_select %>
        </div>
        <div class="actions">
          <% button_message = @product.new_record? ? "Add product" : "Save changes" %>
          <%= f.submit button_message, class: "mws-button red" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
