<div class="mws-panel grid_8">
  <div class="mws-panel-header main_header">
    <span class="mws-i-24 i-leaf">Products</span>
  </div>
  <div class="mws-panel-body">
    <table class="mws-datatable-fn mws-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Shelf life</th>
                <th>Category</th>
                <th>Unit</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
          <% @products.each do |product| %>
            <tr class="gradeX">
                <td><%= product.name %></td>
                <td><%= product.full_shelf_life %></td>
                <td><%= product.product_category.name %></td>
                <td><%= product.unit.name %>
                <td><%= link_to 'Show', product %>
                    <%= link_to 'Edit', edit_product_path(product) %>
                    <%= link_to 'Destroy', product, confirm: 'Are you sure?', method: :delete %></td>
            </tr>
          <% end %>
        </tbody>
    </table>
  </div>
</div>

<% if can? :create, Product %>
  <div class="mws-panel grid_3 options">
    <div class="mws-panel-header">
      <span>Options</span>
    </div>

    <div class="mws-panel-body">
      <center>
        <%= link_to 'add product', new_product_path, class: "mws-button green" %>
      </center>
    </div>
  </div>
<% end %>