<div class="mws-panel grid_8">
  <div class="mws-panel-header main_header">
    <span class="mws-i-24 i-leaf">Products</span>
  </div>
  <div class="mws-panel-body">
    <table class="mws-datatable-fn mws-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Shelf life</th>
                <th>Category</th>
                <th>Unit</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
          <% @products.each do |product| %>
            <tr class="gradeX">
                <td><%= product.name %></td>
                <td><%= product.shelf_life %></td>
                <td>Some Category</td>
                <td><%= product.unit_id %>
                <td><%= link_to 'Show', product %>
                    <%= link_to 'Edit', edit_product_path(product) %>
                    <%= link_to 'Destroy', product, confirm: 'Are you sure?', method: :delete %></td>
            </tr>
          <% end %>
        </tbody>
    </table>
  </div>
</div>

<%= link_to 'Add product', new_product_path %>
