<div class="mws-panel grid_5">
	<div class="mws-panel-header main_header">
		<span class="mws-i-24 i-leaf">
			<%= @product.name %>
		</span>
	</div>

	<div class="mws-panel-body">
		<div class="about">
			<div class="item">
				<span class="data">
			  	<%= @product.full_shelf_life.chop %>
		  	</span>
		  	<span class="label">
		  		shelf life
	  		</span>
  		</div>

  		<hr>

			<div class="item">
				<span class="data <%= @product.product_category.name %>">
	  			<%= @product.product_category.name %>
  			</span>
			</div>

			<hr>

			<div class="item">
				<span class="label">
					traded in
				<span class="data">
	  			<%= @product.unit.name %>
  			</span>
			</div>
		</div>
	</div>
</div>

<div class="mws-panel grid_3 options">
	<div class="mws-panel-header">
		<span>Options</span>
	</div>

	<div class="mws-panel-body">
		<center>
			<% if can? :edit, @product %>
				<%= link_to 'edit', edit_product_path(@product), class: "mws-button green" %>
			<% end %>

			<% if can? :destroy, @product %>
				<%= link_to 'delete', @product, method: :Delete, class: "mws-button red" %>
			<% end %>
		</center>
	</div>
</div>