<div class="mws-panel grid_8">
  <div class="mws-panel-header main_header">
    <span class="mws-i-24 i-graph">Reports</span>
  </div>
  <div class="mws-panel-body">
    <table class="mws-datatable-fn mws-table">
      <thead>
        <tr>
          <th></th>
          <th>Orders</th>
          <th>Donations</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Today</td>
          <td><%= @daily_orders %></td>
          <td><%= @daily_donations %></td>
        </tr>
        <tr>
          <td>Past week</td>
          <td><%= @weekly_orders %></td>
          <td><%= @weekly_donations %></td>
        </tr>
        <tr>
          <td>Past month</td>
          <td><%= @monthly_orders %></td>
          <td><%= @monthly_donations %></td>
        </tr>
        <tr>
          <td>Past year</td>
          <td><%= @yearly_orders %></td>
          <td><%= @yearly_donations %></td>
        </tr>
        <tr>
          <td>All time</td>
          <td><%= @all_orders %></td>
          <td><%= @all_donations %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
