<div id="mws-sidebar-stitch"></div>
<div id="mws-sidebar-bg"></div>

<!-- Sidebar Wrapper -->
<div id="mws-sidebar">

<!-- Searchbox -->
  <div id="mws-searchbox" class="mws-inset">
  	<form action="typography.html">
    	<input type="text" class="mws-search-input" />
      <input type="submit" class="mws-search-submit" />
    </form>
  </div>
  
  <!-- Main Navigation -->
  <div id="mws-navigation">
  	<ul>
    	<li class="<%= active_page_class("dashboard") %>"><%= link_to "Dashboard", root_path, class: "mws-i-24 i-home" %></li>
    	<li class="<%= active_page_class("orders") %>"><%= link_to "Orders", orders_path, class: "mws-i-24 i-shopping-cart-4" %></li>
    	<li class="<%= active_page_class("donations") %>"><%= link_to "Donations", donations_path, class: "mws-i-24 i-plus" %></li>
      <li class="<%= active_page_class("inventories") %>"><%= link_to "Inventory", inventories_path, class: "mws-i-24 i-dropbox" %></li>
      <li class="<%= active_page_class("products") %>"><%= link_to "Products", products_path, class: "mws-i-24 i-leaf" %></li>
      <li class="<%= active_page_class("organizations") %>"><%= link_to "Organizations", organizations_path, class: "mws-i-24 i-companies" %></li>
      <li class="<%= active_page_class("users") %>"><%= link_to "Users", users_path, class: "mws-i-24 i-group-2" %></li>
      <li class="<%= active_page_class("roles") %>"><%= link_to "Settings", roles_path, class: "mws-i-24 i-settings-2" %></li>
    </ul>
  </div>            
</div>