<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="apple-mobile-web-app-capable" content="no" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,maximum-scale=1" />
    <%= stylesheet_link_tag "application" %>
    <%= csrf_meta_tag %>
    <title>Food Bank for the Heartland</title>
  </head>

  <body>
  	<!-- Header -->
  	<div id="mws-header" class="clearfix">
    	<!-- Logo Container -->
    	<div id="mws-logo-container">
      	<div id="mws-logo-wrap">
          <%= image_tag "foodbank_logo.jpg" %>
		     </div>
      </div>
      
      <% unless flash.empty? %>
        <div id="notifications" class="mws-form-message <%= flash_status(flash) %>">
          <% flash.each do |key, value| %>
            <div class="message <%= key %>">
              <%= value %>
            </div>
          <% end %>
        </div>
      <% end %>

      <% if user_signed_in? %>
        <!-- User Tools (notifications, logout, profile, change password) -->
        <div id="mws-user-tools" class="clearfix">

            <!-- messages -->
            <%# render partial: "layouts/messages" %>

            <!-- User Information and functions section -->
            <div id="mws-user-info" class="mws-inset">
            	<!-- User Photo -->
            	<div id="mws-user-photo">
                  <%= image_tag "profile.jpg" %>
              </div>
                
              <!-- Username and Functions -->
              <div id="mws-user-functions">
                  <div id="mws-username">
                    Hello, <%= current_user.name %>
                  </div>
                  <ul>
                  	<li><%= link_to "Settings", user_path(current_user) %></li>
                    <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
                  </ul>
              </div>
            </div>
          <% end %>
              <div style="clear: both;"></div>
          </div>
      </div>
    </div>
    <!-- Start Main Wrapper -->
    <div id="mws-wrapper">
    	<% if user_signed_in? %>
        <% unless @disable_sidebar %>
	       <%= render partial: "layouts/sidebar" %>
        <% end %>
      <% end %>

      <div id="mws-container" class="clearfix <%= 'sidebar_disabled' if @disable_sidebar %>">


        <div class="container">
        	<%= yield %>   
        </div>
                     
        <div id="mws-footer">
        	Copyright Alternative Systems <%= Date.today.year %>. All Rights Reserved.
        </div>  
      </div>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>