<% @disable_sidebar = true %>

<div class="mws-panel grid_5 center-panel">
	<div class="mws-panel-header">
    <span class="mws-i-24">Register</span>
  </div>
  <div class="mws-panel-body">
  	<%= devise_error_messages! %>
  	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: {class: "mws-form"}) do |f| %>
  		
      <div class="mws-form-inline">
        <div class="mws-form-row">
          <label>Organization</label>
          <div class="mws-form-item small">
            <% options = @user.organization.present? ? [[@user.organization.name, @user.organization.id]] : options_for_organization_select %>
            <%= f.select :organization_id,  options  %>

            <% unless @user.organization.present? %>
              <div class="mws-info">
               Select the organization that you are associated with. If your organization isn't on this list, <%= link_to "create one", new_organization_path %>.
              </div>
            <% end %>
          </div>
        </div>

    		<div class="mws-form-row">
  				<label>First name</label>
  				<div class="mws-form-item medium">
  					<%= f.text_field :fname, class: "mws-textinput", autofocus: true %>
					</div>
				</div>

				<div class="mws-form-row">
  				<label>Last name</label>
  				<div class="mws-form-item medium">
  					<%= f.text_field :lname, class: "mws-textinput" %>
					</div>
				</div>

  			<div class="mws-form-row">
  				<label>Email address</label>
  				<div class="mws-form-item medium">
  					<%= f.email_field :email, class: "mws-textinput" %>
  				</div>
  			</div>

        <div class="mws-form-row">
          <label>Phone number</label>
          <div class="mws-form-item small">
            <%= f.telephone_field :phone, class: "mws-textinput", maxlength: 10 %>
          </div>
        </div>

        <div class="mws-form-row">
          <label>Password</label>
          <div class="mws-form-item small">
            <%= f.password_field :password, class: "mws-textinput" %>
          </div>
        </div>

        <div class="mws-form-row">
          <label>Confirm password</label>
          <div class="mws-form-item small">
            <%= f.password_field :password_confirmation, class: "mws-textinput" %>
          </div>
        </div>

	  		<div class="mws-button-row">
	  			<%= f.submit "Sign up", class: "mws-button red" %>
	  		</div>
      </div>
    <% end %>
  </div>    	
</div>

<%= render "links" %>
